body{
	background: url(imgs/b3.jpg) no-repeat;
	overflow-x: hidden; 
	margin:0 auto;
	/*font-family: "微软雅黑";*/
}
header{
	margin-left: 130px;
	margin-top: 100px;
}
header h1{
	background: url(imgs/name.png) no-repeat;
	height: 50px;
}
a{
	text-decoration: none;
	color:#7B59BA;
	font-size: 25px;
	font-weight: bold;
}
.center{
	margin-left: 130px;
	margin-top: 100px;
}
ul li{
	list-style-type: none;
	padding: 50px;
	float: left;
	font-family: 幼圆;

}