body{
	font-family: 微软雅黑;
}
p{
	text-align: center;
	margin-top: 50px;
}
input{
	outline:none;
	margin-left: 10px;
	height: 25px;
	width: 200px;
	border-radius: 5px;
}
.button{
	cursor: pointer;
	outline:none;
	width: 60px;
	height: 32px;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
	font-family: 微软雅黑;
}
/*表格*/
table{
	background-color: #FFFFCC;
	border-collapse: collapse;
}
table,tr,td{
  text-align: center;
}
td a{
	text-decoration: none;
	color: #000000;
}
td a:hover{
	text-decoration: underline;
	color: #FE5187;
}
.list{
	color: #9900CF;
	font-size: 18px;
	font-weight: bold;
}
/*第一行*/
.text{
  font-size: 18px;
  font-family: 微软雅黑;
  height:55px;
  border-bottom: 1px black solid;
}
.text1{
  width:146px;
}
/*tr*/
tr{
	height: 40px;
}
.bottom{
	text-align: center;
	padding-top: 60px;
}
.bottom a{
	color: #551A8B;
	text-decoration: none;
}
.bottom a:hover{
	text-decoration: underline;
	color: #FE5187;
}